// === MOBILE VERSION === //
@use '../src/mixins/glass.scss' as *;
@use '../src/mixins/daytime.scss' as daytime;
@use '../src/mixins/nighttime.scss' as nighttime;
@import "@fontsource/inter";

.morning {
  background-image: url('/assets/sunrise.jpeg');
}

.daytime {
  @include daytime.daytime-styling;
}

.nighttime {
  @include nighttime.nighttime-styling;
}

button {
  cursor: pointer;
}

#bigger-screen-greeting {
  display: none;
}


  body {
    font-family: 'Inter', sans-serif;
    padding: 1rem 0 0rem 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/assets/daytime-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; /* this keeps it fixed relative to viewport */
    color: white;
    max-width: 100vw;
    overflow-x: hidden; // ✅ prevents horizontal scrollbars and layout breaking
  }

  main {
    height: auto;
  }

  #quotes-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 0 1rem;



    #quote {
      font-weight: lighter;
      font-size: 18px;
      line-height: 150%;
      grid-row: 1;
      grid-column: 1;
      align-self: flex-start;
      margin: 0;

      
    }

    #author {
      font-weight: bold;
      font-size: 18px;
      grid-row: 2;
      grid-column: 1;
      margin: 12px 0 10rem 0;


    }

    #refresh-button {
      grid-column: 2;
      grid-row: 1;
      padding: 0;
      margin: 0;
      align-self: flex-start;
      margin-left: 1rem;
      border: none;
      background-color: rgb(255, 255, 255, 0);

      img {
        width: 25px;
      }
      
    }
  }

  #current-time-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 0;
    padding: 0 1rem;

    #greeting-and-sun-moon-icon-container {
      grid-row: 1;
      grid-column: 1 / 3;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin: 0;

      #sun-moon-icons {
        margin: 0 0 1rem 0;

        #moon {
          display: none;
      }

      }

      #greetings-container {
        display: flex;

        #greeting-top {
          font-size: 20px;
          line-height: 110%;
          letter-spacing: 4px;
          font-weight: regular;
          margin: 0 0 1rem 0;
          font-weight: lighter;
        }
  
        #bigger-screen-greeting {
          font-size: 20px;
          line-height: 110%;
          letter-spacing: 4px;
          font-weight: regular;
          margin: 0 0 1rem 0;
          font-weight: lighter;
        }
  
      }




    }

    #time-abbrevation-zone-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      justify-content: flex-start;
      

      #current-time-top {
        font-size: 100px;
        line-height: 73%;
        letter-spacing: -2.5px;
        font-weight: bold;
        margin: 1.5rem 0.3rem 1.5rem 0;
        grid-row: 2;
        grid-column: 1;
        margin-left: -0.4rem ;
        
      }

      #seconds-and-abbrevation-container-top {
        grid-column: 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: lighter;  
        align-items: flex-start;
      }

      #current-seconds-top {
        font-size: 1rem;
        line-height: 73%;
        margin: 0;
        padding-top: 1rem;
      }
  
      #current-time-zone-abbreviation-top {
        font-size: 20px;
        line-height: 73%;
        padding-bottom: 1.5rem;
        margin: 0;
      }
  
      #current-time-zone-top {
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 3px;
        font-weight: bold;
        grid-column: 1;
        grid-row: 3;
        grid-row: 3;
        grid-column: 1 / 3;
        margin: 0 0 6rem 0;
      }  
    }
  }

    #more-less-buttons {
      margin: 0 0 3rem 0;
      padding: 0 1rem;


      #more-button,
      #less-button {
        transition: opacity 0.3s ease, transform 0.3s ease;
        display: flex;
        font-weight: bold;
        font-size: 1rem;
        line-height: 140%;
        letter-spacing: 5px;
        margin: 0;
        padding: 8px 8px 8px 20px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 999px;
        width: 8.94rem;
        border: none;
        color: black;
        
        }

        #more-button {
          
          img {
            transform: rotate(180deg);

          }
        }
        #less-button {
          display: none;
        }
    }

    #more-button.hide,
    #less-button.hide {
      opacity: 0;
      transform: scale(0.9);
      pointer-events: none;
    }

    #more-section {
      display: grid;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.5s ease, opacity 0.5s ease;
      background-color: rgba(170, 169, 169, 0.9);
      color: #303030;
      padding: 0 1rem; /* remove padding when hidden to avoid extra space */
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      max-width: 100vw; // ✅ prevent from growing wider than screen
      box-sizing: border-box;
    
      /* When visible */
      &.visible {
        max-height: 100rem;  /* large enough to fit content */
        opacity: 1;
        padding: 1.5rem 1rem 3rem 1rem;
        margin: 0;
      }
    
    


      h4 {
        font-size: 0.8rem;
        line-height: 150%;
        letter-spacing: 2px;
        margin: 1rem;
        font-weight: lighter;

      }

      h5 {
        font-size: 20px;
        line-height: 120%;
        font-weight: bold;
        font-weight: regular;
        margin: 0;


      }

      #current-time-zone-city-bottom {
        grid-row: 1;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      #day-of-the-year-bottom {
        grid-row: 2;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;


      }

      #day-of-the-week-bottom {
        grid-row: 3;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;


      }

      #week-number-bottom {
        grid-row: 4;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;


      }
    }
  

