// === MOBILE VERSION === //
@use '../src/mixins/glass.scss' as *;
@use '../src/mixins/daytime.scss' as daytime;
@use '../src/mixins/nighttime.scss' as nighttime;
@import "@fontsource/inter";

.daytime {
  @include daytime.daytime-styling;
}

.nighttime {
  @include nighttime.nighttime-styling;
}



@media (max-width: 500px) {
  body {
    font-family: 'Inter', sans-serif;
    padding: 1rem 0 0rem 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('../public/assets/daytime-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;
  }

  main {
    height: 100vh;
  }

  #quotes-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 0 1rem;



    #quote {
      font-weight: lighter;
      font-size: 18px;
      line-height: 150%;
      grid-row: 1;
      grid-column: 1;
      align-self: flex-start;
      margin: 0;

      
    }

    #author {
      font-weight: bold;
      font-size: 18px;
      grid-row: 2;
      grid-column: 1;
      margin: 12px 0 10rem 0;


    }

    #refresh-button {
      grid-column: 2;
      grid-row: 1;
      padding: 0;
      margin: 0;
      align-self: flex-start;
      margin-left: 1rem;
      border: none;
      background-color: rgb(255, 255, 255, 0);

      img {
        width: 25px;
      }
      
    }
  }

  #current-time-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 0;
    padding: 0 1rem;

    #greeting-and-sun-moon-icon-container {
      grid-row: 1;
      grid-column: 1 / 3;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin: 0;

      #sun-moon-icons {
        margin: 0;

        #moon {
          display: none;
      }

      }

      #greeting-top {
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 4px;
        font-weight: regular;
        margin: 0;
        font-weight: lighter;
      }
    }

    #time-abbrevation-zone-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      justify-content: flex-start;
      

      #current-time-top {
        font-size: 100px;
        line-height: 73%;
        letter-spacing: -2.5px;
        font-weight: bold;
        margin: 1.5rem 0;
        grid-row: 2;
        grid-column: 1;


      }
  
      #current-time-zone-abbreviation-top {
        font-size: 20px;
        line-height: 73%;
        font-weight: lighter;
        grid-row: 2;
        grid-column: 2;
        grid-row: 2;
        grid-column: 2;
        align-self: flex-end;
        margin: 1.5rem 0;
  
      }
  
      #current-time-zone-top {
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 3px;
        font-weight: bold;
        grid-column: 1;
        grid-row: 3;
        grid-row: 3;
        grid-column: 1 / 3;
        margin: 0 0 6rem 0;
      }  
    }
  }

    #more-less-buttons {
      margin: 0 0 6.3rem 0;
      padding: 0 1rem;


      #more-button,
      #less-button {
        display: flex;
        font-weight: bold;
        font-size: 1rem;
        line-height: 140%;
        letter-spacing: 5px;
        margin: 0;
        padding: 8px 8px 8px 20px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 999px;
        width: 8.94rem;
        border: none;
        color: black;
        
        }

        #more-button {
          
          img {
            transform: rotate(180deg);

          }
        }
        #less-button {
          display: none;
        }
    }

    #more-section {
      background-color: rgb(170, 169, 169, 0.9);
      color: #303030;
      padding: 3rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      row-gap: 1rem;




      h4 {
        font-size: 0.8rem;
        line-height: 150%;
        letter-spacing: 2px;
        margin: 0;
        font-weight: lighter;

      }

      h5 {
        font-size: 20px;
        line-height: 120%;
        font-weight: bold;
        font-weight: regular;
        margin: 0;


      }

      #current-time-zone-city-bottom {
        grid-row: 1;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      #day-of-the-year-bottom {
        grid-row: 2;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;


      }

      #day-of-the-week-bottom {
        grid-row: 3;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;


      }

      #week-number-bottom {
        grid-row: 4;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;


      }
    }
  }

