// === TABLET VERSION === //

@media (min-width: 600px) {

    #bigger-screen-greeting {
        display: flex;
      }

      main {
        padding: 1.5rem;
      }

      #refresh-button {
        margin-left: 0 !important;
        justify-self: flex-start;

    }


      #more-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;


        h4,
        h5 {
            margin: 0;
            padding: 0;
        }

        h4 {
            font-size: 0.8rem;
        }

        h5 {
            font-size: 1.5rem;
        }

        #current-time-zone-city-bottom {
            gap: 1rem;
            grid-column: 1;
            flex-direction: column;
            align-items: flex-start;


        }

        #day-of-the-year-bottom {
            grid-column: 1;
            flex-direction: column;
            align-items: flex-start;


        }

        #day-of-the-week-bottom {
            grid-row: 1;
            grid-column: 2;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 2rem;

        }

        #week-number-bottom {
            grid-row: 2;
            grid-column: 2;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 2rem;


        }

        &.visible {
            padding: 4rem 3rem;
        }    
      
    }  

    #current-time-top {
        font-size: 12rem !important;
        margin-left: -1rem !important;
    }

    #current-time-zone-abbreviation-top {
        font-size: 2rem !important;

    }

    #current-time-zone-top {
        font-size: 1.3rem !important;

    }
      




}