@mixin daytime-styling {
    background-image: url('../public/assets/daytime-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    #current-time-container {

        #moon {
            display: none;
        }
    }

    #more-section {
        background-color: rgb(170, 169, 169, 0.9);
        color: #303030;  
    
      }
    }
    
